<form class="login-form" [formGroup]="form" #f = "ngForm" (ngSubmit)="login()">
  <p class="login-text">Skemex</p>
  <div class="form-group">
    <input type="text"
           formControlName="username"
           name="username"
           class="login-username form-control"
           placeholder="Username"
           required>
    <div *ngIf="form.controls['username'].hasError('required') && f.submitted">
      <span class="login-message">Username is required</span>
    </div>
  </div>
  <div class="form-group">
    <input type="password"
           name="password"
           formControlName="password"
           class="login-password form-control"
           placeholder="Password"
           required>
    <div *ngIf="form.controls['password'].hasError('required') && f.submitted">
      <span class="login-message">Password is required</span>
    </div>
  </div>
  <div class="form-group">
    <div class="pretty p-icon p-smooth">
      <input type="checkbox" name="remember-me" (change)="checkBoxChange($event)"/>
      <div class="state p-default">
        <i class="icon fa fa-check"></i>
        <label class="remember-me">Remember me</label>
      </div>
    </div>
  </div>
  <div *ngIf="message && !form.controls['password'].hasError('required')">
    <span class="login-message">{{message}}</span>
  </div>
  <div class="form-group">
    <button type="submit" class="login-submit">Login</button>
  </div>
</form>
